// Imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


// Colors

$theme-pink:       hsl(308, 100%, 81%);
$theme-yellow:     hsl(41, 99%, 67%);
$theme-orange:     hsl(29, 95%, 60%);
$theme-red:    	   hsl(0, 100%, 71%);
$theme-blue:       hsl(191, 96%, 63%);
$theme-green:      hsl(164, 76%, 47%);
$theme-purple:     hsl(260, 68%, 48%);
$theme-gray:       hsl(218, 9%, 50%);
$theme-black:      hsl(221, 17%, 22%);

$color-card:       hsl(159, 100%, 97%);


// Fonts

$font-inter:    'Inter', sans-serif;
$font-lexend:   'Lexend Deca', sans-serif;


// Breakpoints

$br--desktop:   1024px;


// Miscellaneous

$border-radius: 4px;


// Mixins

@mixin mq {
    @media (min-width: $br--desktop) {
        @content;
    }
}


//------------------------------------------------------------//

// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Style

:root { --primary: #{$theme-blue}; }

body { 
    font-family: $font-lexend; 
    font-size: 16px;
}

.app {
    &[data-theme='pink'] { --primary: #{$theme-pink}; }
    
    &[data-theme='yellow'] { --primary: #{$theme-yellow}; }
    
    &[data-theme='orange'] { --primary: #{$theme-orange}; }

    &[data-theme='red'] { --primary: #{$theme-red}; }

    &[data-theme='blue'] { --primary: #{$theme-blue}; }

    &[data-theme='green'] { --primary: #{$theme-green}; }

    &[data-theme='purple'] { --primary: #{$theme-purple}; }

    &[data-theme='gray'] { --primary: #{$theme-gray}; }

    &[data-theme='black'] { --primary: #{$theme-black}; }

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;

    color: var(--primary);

    background-color: var(--primary);

    transition: 
        color 0.5s ease-out,
        background-color 0.5s ease-out;
}

.loading {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
    height: 40px;

    &__element {
        height: 0;
        width: 4px;
        margin: 3px;

        border-radius: 5px;

        animation: loading 0.8s ease-in-out infinite;

        &:nth-child(2) { animation-delay: 0.1s; }

        &:nth-child(3) { animation-delay: 0.2s; }

        &:nth-child(4) { animation-delay: 0.3s; }

        &:nth-child(5) { animation-delay: 0.4s; }

        &:nth-child(6) { animation-delay: 0.5s; }

        &:nth-child(7) { animation-delay: 0.6s; }

        &:nth-child(8) { animation-delay: 0.7s; }
    }

    @keyframes loading {
        0% {
            height: 0px;
        }
        50% {
            height: 40px;
            background-color: var(--primary);
        }
        100% {
            height: 0px;
        }
    }

}

.card {
    padding: 30px;
    max-width: 600px;
    min-width: 200px;
    width: 100%;

    background: $color-card;
    border-radius: $border-radius;

    transition: width 0.5s ease-in-out;

    &__content {
        display: grid;
        
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 30px;

        font-size: 22px;
        text-align: center;;
    }

    &__author { text-align: right; }

    &__buttons {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
}

.btn {
    padding: 8px 12px;

    font-weight: 700;
    color: $color-card;

    background-color: var(--primary);
    border: none;
    border-radius: $border-radius;

    transition: background-color 0.5s ease-out;

    &:hover { cursor: pointer; }
}

.footer {
    margin-top: 15px;

    color: $color-card;
    text-align: center;
}

svg { 
    color: var(--primary); 

    transition: color 0.5s ease-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    &:hover { animation: bounce 0.8s ease-out; }

    @keyframes bounce {
        15% { transform: translateY(-6px); }
        50% { transform: translateY(-8px); }
        65% { transform: translateY(-6px); }
    }
}


// Theme-ing
// Title and favicon


